
        <h5>RSS News</h5>
        <script type="text/javascript"> 
        <!-- 
        rssfeed_url = new Array(); 
        rssfeed_url[0]="http://www.theverge.com/rss/index.xml"; rssfeed_url[1]="http://www.680news.com/news/rss"; rssfeed_url[2]="http://www.thestar.com/rss/list/1142976?";  
        rssfeed_frame_width="100%"; 
        rssfeed_frame_height="160"; 
        rssfeed_scroll="on"; 
        rssfeed_scroll_step="5"; 
        rssfeed_scroll_bar="off"; 
        rssfeed_target="_blank"; 
        rssfeed_font_size="14"; 
        rssfeed_font_face="Arial"; 
        rssfeed_border="off"; 
        rssfeed_css_url=""; 
        rssfeed_title="off"; 
        rssfeed_title_name="News for Nuruners"; 
        rssfeed_title_bgcolor=""; 
        rssfeed_title_color="#fff"; 
        rssfeed_title_bgimage="http://"; 
        rssfeed_footer="off"; 
        rssfeed_footer_name="rss feed"; 
        rssfeed_footer_bgcolor="#fff"; 
        rssfeed_footer_color="#333"; 
        rssfeed_footer_bgimage="http://"; 
        rssfeed_item_title_length="65"; 
        rssfeed_item_title_color="#666"; 
        rssfeed_item_bgcolor="#f2f2f2"; 
        rssfeed_item_bgimage="http://"; 
        rssfeed_item_border_bottom="off"; 
        rssfeed_item_source_icon="off"; 
        rssfeed_item_date="off"; 
        rssfeed_item_description="on"; 
        rssfeed_item_description_length="65"; 
        rssfeed_item_description_color="#666"; 
        rssfeed_item_description_link_color="#333"; 
        rssfeed_item_description_tag="off"; 
        rssfeed_no_items="0"; 
        rssfeed_cache = "4b2746159467b41b13f555979ca1d125"; 
        //--> 
        </script> 
        <script type="text/javascript" src="http://feed.surfing-waves.com/js/rss-feed.js"></script>        
        <a href="http://www.surfing-waves.com" alt="www.surfing-waves.com"></a>
