<!-- START WEATHER -->
        
<a href="http://www.showmyweather.com/" title="Show My Weather Forecast" onclick="window.open(this.href);return(false);"><script type="text/javascript" src="http://www.showmyweather.com/weather_widget.php?int=0&type=js&country=ca&state=Ontario&city=Toronto&smallicon=1&current=1&forecast=1&background_color=f2f2f2&color=000000&width=288&padding=0&border_width=0&border_color=000000&font_size=16&font_family=Arial&showicons=1&measure=C&d=2012-12-05"></script></a>

<!-- END WEATHER -->